<div class="full-width">
<div class="card mw-300">
  <h3 class="card-header">{{plant.name}}</h3> 
  <img class="full-width" src="/img/plant-icons/1.png">
  <div class="card-body">
    <p>Owned by {{plant.user.username}}</p>
    <p>Recommended sunlight: {{plant.sunlight}}</p>
    <p>Recommended water: {{plant.water}}</p>
    <p>Date last watered: {{format_date plant.date_water}}</p>
  </div>
</div>

</div>