<div class="full-width">
<div class="card mw-50">
  <h3 class="card-header">{{name}}</h3> 
  <img class="full-width" src="https://picsum.photos/500/300">
  <div class="card-body">
    <p>Owned by {{user.username}}</p>
    <p>Recommended sunlight: {{sunlight}}</p>
    <p>Recommended water: {{water}}</p>
    <p>Date last watered: {{date_water}}</p>
  </div>
</div>

</div>